.contacts {
  &__header {
    position: relative;
    background-color: $dark;
  }

  &__title {
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 1.2em;
    text-align: center;
  }

  &__search {
    height: 50px;
    background-color: $grey-darker;
  }
}
