.contacts {
  &__header {
    position: relative;
    background-color: $dark;
  }

  &__title {
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 1.2em;
    text-align: center;
  }

  &__search {
    height: 50px;
    background-color: $grey-darker;
  }

  &__input {
    font-size: 20px;
    height: 100%;
    width: 100%;
  }

  &__button {
    display: block;
    margin: 10px auto;
    background-color: white;
    padding: 5px 10px;
    font-size: 16px;
  }

  &__form {
    display: flex;
    padding: 10px;

    > div {
      flex: 1;
      margin-top: 10px;
    }

    input,
    label {
      padding: 5px;
    }
  }
}
