.contacts-list-item {
  display: block;

  &.even {
    background-color: $grey-darkest;
  }
}

.contacts-list-item__table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.contacts-list-item__cell {
  display: table-cell;
  padding: 10px;
  min-width: 33.33%;

  &:last-of-type {
    text-align: right;
  }
}

@media screen and (min-width: $small-devices) and (max-width: $medium-devices) {
  .contacts-list-item {
    flex: 1 0 50%;

    &:nth-child(4n+1) {
      background: tomato;
    }

    &:nth-child(4n+2) {
      background: yellow;
    }
  }

  .contacts-list-item__cell {
    width: 100%;
  }
}

@media screen and (max-width: $medium-devices) {
  .contacts-list-item__cell {
    display: block;

    &:last-of-type {
      text-align: left;
    }
  }
}
