.contacts-list-item {
  display: block;

  &.even {
    background-color: $grey-darkest;
  }
}

.contacts-list-item__table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contacts-list-item__cell {
  padding: 10px;
  flex: 0 0 50%;
}

@media screen and (max-width: $small-devices) {
  .contacts-list-item__cell {
    flex: 0 0 100%;
  }
}

@media screen and (min-width: $small-devices) and (max-width: $medium-devices) {
  .contacts-list-item {
    flex: 0 0 50%;

    &:nth-child(4n+1) {
      background: tomato;
    }

    &:nth-child(4n+2) {
      background: yellow;
    }
  }

  .contacts-list-item__cell {
    flex: 1 0 100%;

    &:nth-child(even) {
      text-align: left;
    }
  }
}

@media screen and (min-width: $medium-devices) {
  .contacts-list-item__cell {
     &:nth-child(even) {
      text-align: right;
    }
  }
}
