<div class="contacts-list-item" ng-click="contactsListItemCtrl.open()">
  <div class="contacts-list-item__cell">
    {{::contactsListItemCtrl.resume.formattedName}}
  </div>
  <div class="contacts-list-item__cell">
    <a href="mailto:{{::contactsListItemCtrl.resume.email}}">
      {{::contactsListItemCtrl.resume.email}}
    </a>
  </div>
  <div class="contacts-list-item__cell">
    <a href="tel:{{::contactsListItemCtrl.resume.phone}}">
      {{::contactsListItemCtrl.resume.phone}}
    </a>
  </div>
</div>
